@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    height: 300vh;
}

#main-nav{
    margin: 4vh auto;
}

.container{
    width: 95%;
    margin: auto;
}

.logo{
    margin: 1vh auto;
}

.list_one{
    display: flex;
    float: right;
    margin: 2vh auto;
}

.list_one ul{
    list-style: none;
}

.list_one ul li{
    font-family: 'Raleway', sans-serif;
    padding: 0 2vw 0 2vw;
    display: inline-block;
}

#main{
    margin: 15vh auto;
}

.vector1{
    margin: -10vh 0;
    width: 40%;
    float: right;
    box-sizing: border-box;
}

.main-content{
    margin: 15vh 0;
    width: 60%;
    box-sizing: border-box;
}

.main-content h1{
    width: 70%;
    font-family: 'Raleway', sans-serif;
    padding: 2vh 0;
}

.main-content p{
    width: 70%;
    padding: 2vh 0 3vh 0;
}

.my-form input[type="text"]{
    width: 35%;
    height: 5vh;
    border: 1px solid hsl(0, 0%, 59%);
    padding: 0 1vw;
    border-radius: 3px;
    margin: 0 1vw 0 0;
}

.button{
    width: 25%;
    height: 5.5vh;
    border: 1px solid;
    border-radius: 3px;
    background-color: hsl(224, 93%, 58%);
    color: hsl(0, 0%, 100%);
}

#section{
    margin: 50vh 0 0 0;
    background-color: hsl(240, 75%, 98%);
    height: 120vh;
}

.desktop-curve{
    margin: -14vh 0 0 0;
    width: 100%;
}

.mobile-curve{
    margin: -14vh 0 0 0;
    width: 100%;
    visibility: hidden;
}

.vector2{
    width: 40%;
    float: right;
    margin: 8vh 0;
}

.section-content{
    width: 60%;
}

.section-content h1{
    font-size: 2.3rem;
    margin: 4vh 0;
}

.section-content p{
    width: 70%;
    margin: 4vh 0;
}

.section-content .p-1{
    max-width: 22%;
    color: hsl(170, 45%, 43%);
    border-bottom: 1px solid hsl(170, 45%, 43%);
}

.arrow{
    position: relative;
    top: 0.5vh;
    left: 0.5vw;
}

.article{
    background: hsl(0, 0%, 100%);
    box-shadow: 0 4px 15px hsla(0, 0%, 0%, 0.7);
    width: 35%;
    height: 35vh;
}

.quote{
    padding: 2vh 0 0 2vw;
}

.article p{
    padding: 0 0 0 2vw;
    width: 70%;
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.avatar{
    margin: 4vh 0 0 2vw;
    width: 10%;
    border-radius: 100px;
}

.article .side-talk{
    margin: -7vh 0 0 4vw;
}

.article .side-talk p{
    font-size: 0.7rem;
    line-height: 1.4rem;
}

.article .side-talk .p-1{
    font-weight: 700;
}

.second-sec{
    background-color: hsl(238, 22%, 44%);
    height: 45vh;
}

.second_sec-content h2{
    color: hsl(0, 0%, 100%);
    font-size: 2rem;
    padding: 10vh 0 0 0;
}

.second_sec-content p{
    color: hsl(0, 0%, 100%);
    width: 38%;
    padding: 4vh 0 0 0;
}

.my-form2{
    width: 30%;
    float: right;
    margin: -15vh 5vw 0 0;
}

.my-form2 input[type="text"]{
    display: block;
    width: 100%;
    height: 7vh;
    border: 1px solid hsl(0, 0%, 59%);
    border-radius: 3px;
    margin: 0 0 2vh 0;
    padding: 0 1vw;
}

.button2{
    text-align: center;
    width: 50%;
    border: 1px solid hsl(224, 93%, 58%);
    height: 7vh;
    border-radius: 3px;
    background-color: hsl(224, 93%, 58%);
    color: hsl(0, 0%, 100%);
}

#footer{
    background-color: hsl(243, 87%, 12%);
    height: 60vh;
}

.logo-2{
    display: inline-block;
    padding: 15vh 0 4vh 0;
}

.phone-icon{
    display: inline-block;
    padding: 0 1.5vw 0 0;
}


.email-icon{
    padding: 0 1.5vw 0 0;
}

.footer-content .p-1{
    color: hsl(0, 0%, 100%);
    display: inline-block;
    width: fit-content;
    margin: 0 70vw 0 0;
}

.footer-content .p-2{
    color: hsl(0, 0%, 100%);
    display: inline-block;
    width: fit-content;
    margin: 3vh 70vw 0 0;
}

#footer{
    height: 100vh;
}

.li1{
    margin: -8vh 0 0 30vw;
    width: fit-content; 
}

.li1 ul{
    list-style: none;
}

.li1 ul li{
    color: hsl(0, 0%, 100%);
    padding: 0 0 3vh 0;
    font-size: 1.1rem;
}

.li2{
    margin: -27vh 0 0 50vw;
    width: fit-content; 
}

.li2 ul{
    list-style: none;
}

.li2 ul li{
    color: hsl(0, 0%, 100%);
    padding: 0 0 3vh 0;
    font-size: 1.1rem;
}

.li-icon{
    margin: -20vh 0 0 60vw;
}

.li-icon ul{
    list-style: none;
}

.li-icon ul li{
    border: 1px solid white;
    border-radius: 100rem;
    width: 2.6rem;
    height: 2.6rem;
    position: relative;
    left: 7rem;
    margin: 0 0 0 1rem;
    display: inline-block;
}

.li-icon ul li img{
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
}

.li-icon ul li:hover{
    border: 1px solid hsl(224, 93%, 58%);
}

.li-icon ul li img:hover{
    filter: invert(40%) sepia(76%) saturate(5052%) hue-rotate(218deg) brightness(99%) contrast(97%);
}