@media (max-width: 500px){
    #nav-bar{
        margin: 0 auto;
    }

    .logo{
        width: 25%;
    }

    .list_one{
        margin: 1vh auto;
    }

    .list_one ul li{
        font-size: 0.9rem;
    }

    .vector1{
        float: none;
        width: 100%;
    }

    .main-content{
        width: 100%;
        float: none;
    }

    .main-content h1{
        margin: 0 auto;
        font-size: 1.5rem;
        min-width: 70%;
        text-align: center;
    }

    .main-content p{
        width: 70%;
        margin: 0 auto;
        text-align: center;
    }

    .my-form input[type="text"]{
        width: 70%;
        display: block;
        margin: 1vh auto;
        text-align: center;
    }

    .button{
        width: 70%;
        display: block;
        text-align: center;
        margin: 0 auto;
    }
}